<h2>Projects</h2>
<%= link_to "New Project", new_project_path %>

<ul id="projects">
  <% @projects.each do |project| %>
    <li class="<%= cycle("odd", "even") %>">
    <h3><%= link_to project.name, project %></h3>
    Some description goes here.
    </li>
  <% end %>
</ul>

